.form {
    font-size: large;
    padding: 50px;
    width: 25%;
    margin: auto auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
}

h1 {
    text-align: center;
}

body {
    background-image: url("./backimg.jpg");
}